{% extends 'base.html.twig' %}

{% block title %}Hello ClientUpdateController!{% endblock %}

{% block body %}

<div class="container">

    {% if client|length >= 1 %}
        <div class="div_form">
            <h5>Update du client {{ client.nom|capitalize }} :</h5>
            <div class="line"></div><br/>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('errors') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}

            <div class="form_create_client" style="border: 1px solid #EEEEEE;">

                <div style="margin:10px">

                    <div class="title_form_create">
                        Formulaire Update Client
                    </div>

                    <div class="form_style">

                                    {{ form_start(form,{'method': 'POST'}) }}


                                    <div class="my-custom-class-for-errors">

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Nom</label>
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}} ) }}
                                        <small id="emailHelp" class="form-text text-muted erreur_msg">{{ form_errors(form.nom) }}</small>

                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Prénom</label>
                                        {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}} ) }}
                                        <small id="emailHelp" class="form-text text-muted erreur_msg">{{ form_errors(form.prenom) }}</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Date de naissance</label>
                                        {{ form_widget(form.date_naissance, {'attr': {'class': ''}} ) }}
                                        <small id="emailHelp" class="form-text text-muted erreur_msg">{{ form_errors(form.date_naissance) }}</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        {{ form_widget(form.mail, {'attr': {'class': 'form-control'}  } ) }}
                                        <small id="emailHelp" class="form-text text-muted erreur_msg">{{ form_errors(form.mail) }}</small>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Téléphone</label>
                                        {{ form_widget(form.tel, {'attr': {'class': 'form-control'}} ) }}
                                        <small id="emailHelp" class="form-text text-muted erreur_msg">
                                            {{ form_errors(form.tel) }}

                                            {% if error_length is defined %}
                                                {% for error in error_length %}
                                                    {% for key in error|keys %}
                                                        {% if key == "tel" %}
                                                            {{ error['message']}}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}

                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Adresse Domicile</label>
                                        {{ form_widget(form.addr_domicile, {'attr': {'class': 'form-control'}} ) }}
                                        <small id="emailHelp" class="form-text text-muted erreur_msg">
                                            {{ form_errors(form.addr_domicile) }}
                                        </small>
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Rpps</label>
                                        {{ form_widget(form.rpps, {'attr': {'class': 'form-control'}} ) }}
                                        <small id="emailHelp" class="form-text text-muted erreur_msg">

                                            {{ form_errors(form.rpps) }}
                                            {% if error_length is defined %}
                                                {% for error in error_length %}
                                                    {% for key in error|keys %}
                                                        {% if key == "rpps" %}
                                                            {{ error['message']}}
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            {% endif %}

                                        </small>
                                    </div>


                                    <button class="btn btn-primary" type="submit">Update</button>

                                    {{ form_end(form) }}

                                </div>


                    </div>

                    </div>
                </div>
        </div>
        </div>
    {% else %}

        <div class="alert alert-danger" role="alert">
            Auncun client trouvé
        </div>

    {% endif %}

</div>


{% endblock %}
