{% extends 'base.html.twig' %}

{% block title %}Hello ClientInfoController!{% endblock %}

{% block body %}

<div class="container">

    <div class="div_form">

        {% if client|length >= 1 %}

            <h5>Informations concernant M(me) {{ client.nom|capitalize }} :</h5>
            <div class="line"></div>

            <div class="information_client">

                <p><strong>Nom : </strong>{{ client.nom|capitalize }}</p>

                <p><strong>Prénom : </strong>{{ client.prenom|capitalize }}</p>

                <p><strong>Date de Naissance : </strong>{{ client.datenaissance|date("d/m/Y") }}</p>

                <p><img style="width:25px" src="{{ asset('build/mail.png') }}"> {{ client.mail }}</p>

                <p><img style="width:25px" src="{{ asset('build/phone.png') }}"> {{ client.tel }}</p>

                <p><img style="width:25px" src="{{ asset('build/maison.png') }}"> {{ client.addrdomicile }}</p>

                <p><strong>Rpps :</strong> {{ client.rpps }}</p>

            </div>

        {% else %}
            <div class="alert alert-danger" role="alert" style="text-align:center">
                <p>Aucun client n'a été trouvé </p>
            </div>


        {% endif %}



    </div>
</div>

{% endblock %}
