{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <h1>homepage</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec felis ut neque malesuada tristique non faucibus nisl. Aliquam erat volutpat.
        Nam id lacus nec tellus sollicitudin suscipit. Proin a lectus justo. Praesent vel dui placerat, consectetur diam interdum, scelerisque ipsum.
        Proin sapien eros, ullamcorper at laoreet eu, eleifend nec odio. Aliquam erat volutpat. Nulla ut leo tincidunt, commodo felis sodales,
        eleifend tortor. Nullam feugiat a elit eu porta. Nam id mi vel ligula elementum lobortis.
    </p>
{% endblock %}