
.nav_back{
    background-color: #060505!important;
}

.div_form{
    margin-top:20px;
}

.txt_white{
    color: white;
}

.line{
    background-color:black;
    height: 1px;
    width:100%;
}

.form_create_client{
    margin: 10px;
    -webkit-box-shadow: -5px 6px 5px 0px rgba(87,87,87,1);
    -moz-box-shadow: -5px 6px 5px 0px rgba(87,87,87,1);
    box-shadow: -5px 6px 5px 0px rgba(87,87,87,1);
}

.no-style{
    list-style-type: none;
}

.erreur_msg{
    color:red!important;
}

.list_client{
    margin-top: 50px;
}

.user_data{
    background-color: #F4F4F4;
    -webkit-box-shadow: -5px 6px 5px 0px rgba(87,87,87,1);
    -moz-box-shadow: -5px 6px 5px 0px rgba(87,87,87,1);
    box-shadow: -5px 6px 5px 0px rgba(87,87,87,1);
}

.user_detail{
    padding: 1px;
    margin:1px
}

.information_client{
    margin-top: 20px;
}

.nav_bar:hover{

    background-color: white;
    color: black;
}

.title_form_create{
    position: absolute;
    margin-top: -27.5px;
    text-align: center;
    background-color: white;
    margin-left: 10px;
    width: 250px;
    font-size: 19px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.form_style{
    padding-top:15px
}