{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}

<div class="container">

    <div class="div_form">

        <h5>List des clients :</h5>
        <div class="line"></div>

        <div class="list_client">

            {% for client in clients %}
                <div class="user_data">

                        <div class="row">
                            <div class="col-lg-2 col-md-2" style="margin: 5px;">
                                    <img src="{{ asset('build/user.png') }}">
                            </div>

                            <div class="col-lg-3 col-md-3" style="margin: 5px;">
                                <p class="user_detail">
                                    <strong>Nom</strong> : {{ client.nom|capitalize }}
                                </p>
                            </div>

                            <div class="col-lg-3 col-md-3" style="margin: 5px;">
                                <p class="user_detail">
                                    <strong>Prénom</strong> : {{ client.prenom|capitalize }}
                                </p>
                            </div>

                            <div class="col-lg-3 col-md-3" style="margin: 5px;">
                                <p class="user_detail">
                                    <strong>Email</strong> : {{ client.mail|capitalize }}
                                </p>
                            </div>


                        </div>
                    <div style="width:40%;padding-bottom:5px">
                    <a id="delete_client" href="{{ path('client_delete', {"client" : client.id }) }}"><img style="width: 20px;margin-left: 5px" src="{{ asset('build/delete.png') }}" alt="ACME logo"></a>
                    <a href="{{ path('client_info', {"id" : client.id }) }}"><img style="width: 20px;" src="{{ asset('build/more.png') }}" alt="ACME logo"></a>
                    <a href="{{ path('client_update', {"id" : client.id }) }}"><img style="width: 20px;margin-right: 5px" src="{{ asset('build/stylo.png') }}" alt="ACME logo"></a>
                    </div>


                </div><br/>

            {% endfor %}

        </div>

    </div>

</div>


{% endblock %}
