{% extends 'base.html.twig' %}

{% block title %}Hello CreateClientController!{% endblock %}

{% block body %}

    <div class="container">

        <div class="div_form">

            <h5>Création d'une fiche client :</h5>
            <div class="line"></div><br/>

            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% for message in app.flashes('errors') %}
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            {% endfor %}


            <div class="form_create_client" style="border: 1px solid #EEEEEE;">

                <div style="margin:10px">

                    <div class="title_form_create">
                        Formulaire Fiche Client
                    </div>

                    <div class="form_style">
                            {{ form_start(form) }}


                            <div class="form-group">
                                <label for="exampleInputEmail1">Nom</label>
                                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}} ) }}
                                <small id="error_nom" class="form-text text-muted erreur_msg">{{ form_errors(form.nom) }}</small>

                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Prénom</label>
                                {{ form_widget(form.prenom, {'attr': {'class': 'form-control'}} ) }}
                                <small id="error_prenom" class="form-text text-muted erreur_msg">{{ form_errors(form.prenom) }}</small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Date de naissance</label>
                                {{ form_widget(form.date_naissance, {'attr': {'class': ''}} ) }}
                                <small id="error_naissance" class="form-text text-muted erreur_msg">{{ form_errors(form.date_naissance) }}</small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                {{ form_widget(form.mail, {'attr': {'class': 'form-control'}  } ) }}
                                <small id="error_email" class="form-text text-muted erreur_msg">{{ form_errors(form.mail) }}</small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Téléphone</label>
                                {{ form_widget(form.tel, {'attr': {'class': 'form-control'}} ) }}
                                <small id="error_tel" class="form-text text-muted erreur_msg">
                                    {{ form_errors(form.tel) }}

                                    {% if error_length is defined %}
                                        {% for error in error_length %}
                                            {% for key in error|keys %}
                                                {% if key == "tel" %}
                                                    <ul><li>{{ error['message']}}</li></ul>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}

                                </small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Adresse Domicile</label>
                                {{ form_widget(form.addr_domicile, {'attr': {'class': 'form-control'}} ) }}
                                <small id="error_addr" class="form-text text-muted erreur_msg">
                                    {{ form_errors(form.addr_domicile) }}
                                </small>
                            </div>

                            <div class="form-group">
                                <label for="exampleInputEmail1">Rpps</label>
                                {{ form_widget(form.rpps, {'attr': {'class': 'form-control'}} ) }}
                                <small id="error_rpps" class="form-text text-muted erreur_msg">
                                    {{ form_errors(form.rpps) }}
                                    {% if error_length is defined %}
                                        {% for error in error_length %}
                                            {% for key in error|keys %}
                                                {% if key == "rpps" %}
                                                  <ul><li>{{ error['message'] }}</li></ul>
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    {% endif %}
                                </small>
                            </div>


                            <button class="btn btn-primary" type="submit">Création</button>

                            {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>


    </div>

    <script>


        let smalls = [
            $("#error_nom"),
            $("#error_prenom"),
            $("#error_email"),
            $("#error_tel"),
            $("#error_addr"),
            $("#error_rpps")
        ];

        smalls.forEach(element => {

            let small = element[0];
            let parent = $(small).parent();
            let input = $(parent).children('input');
            console.log(input);

            if($(small).text().trim().length >=1 ){
                $(input).css('border','1px solid red');
            }

        })




    </script>



{% endblock %}
